@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University Enrollment</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
            From the <strong>Students</strong> tab you can manage student enrollments. You can also view grades for any completed courses.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>From the <strong>Courses</strong> tab you can view and update course specific information, such as the course number and title, number of credits, and department.</p>
    </div>
    <div class="col-md-4">
        <h2>Instructors and Departments</h2>
        <p>From the <strong>Instructors</strong> and <strong>Departments</strong> tabs, you can view and update information about the Instructors and the university Departments. See your supervisor before making changes to either of these areas.</p>
    </div>
</div>